body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif
}

.w3-bar,
h1,
button {
    font-family: "Montserrat", sans-serif
}

.fa-anchor,
.fa-coffee {
    font-size: 200px
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* padding-top: 100%; */
}

.responsive-iframe {

}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
    /* padding: 10px; */
}

.container {
    position: relative;
    width: 100%;
    display: inline-block;
}